@font-face {
    font-family: Gilroy-Bold;
    src: url(../../../assets/fonts/Gilroy-Bold.woff);
  }
  @font-face {
    font-family: Proxima-nova;
    src: url(../../../assets/fonts/proxima-nova-light-webfont.woff);
  }
  @font-face {
    font-family: Photograph-Signature;
    src: url(../../../assets/fonts/Photograph-Signature.ttf);
  }

.page{
    background-color: #1f212d;
    justify-content: space-between;
    width: 100%;
    padding-top: 3%;
}



.body{
    display: flex;
    flex-direction:row ;
    justify-content:center;
    align-items: center;
    
}

.left{
    width: 50%;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 100%;
    background-color:#1f212d;
    vertical-align: middle;
    
}

.right{
    width: 50vw;
    padding-bottom: 5%;
    margin-right:5vw;
    padding-top: 5%;
    opacity: 1;
    box-shadow: 0px 0px 25px 10px black;
    

    background-color: #e0ded2 !important;
    justify-content: center;

}

.chatbot{
    width: 51%;
    margin-left: 15%;  
}

.website{
    width: 51%;
    margin-left: 15%;
}


.ts{
    width: 52%;

}


.ts1{
    width: 60%;
}

.Design{
    width: 60%;
    margin-right:15%;
}


.line1{
    display: flex;
    flex-direction:row ;

    padding-bottom: 12%;
    margin-right: 8%;
    margin-left: 18%;    
}

.line2{ 
    display: flex;
    flex-direction:row ;
    margin-left: 12%;
    

}



.txt2{
    text-align: center;
    margin-right:22%;
    padding-top: 9%;
    font-family: Gilroy-Bold; 
    color: #1f212d; 
    font-weight: bold;
    font-size: 1.1vw ;
  

}

.txt1{
    padding-top: 9%;
    text-align: center;
    margin-right:22%;
    font-family: Gilroy-Bold; 
    color: #1f212d; 
    font-weight: bold;
    font-size: 1.1vw ;
}

.txt3{
    padding-top:9%;
    margin-right:40%;
    text-align: center;
    font-family: Gilroy-Bold; 
    color: #1f212d; 
    font-weight: bold;
    font-size: 1.1vw ;

}

.txt4{
    padding-top: 9%;
    text-align: center;
    margin-right : 34%;
    font-family: Gilroy-Bold;
    font-weight: bold;
    font-size: 1.1vw ; 
}

.txt5{
    padding-top: 9%;
    text-align:center;
    margin-right: 25%;
    font-family: Gilroy-Bold; 
    color: #1f212d;
    font-weight: bold; 
    padding-right:1.5vw ;
    font-size: 1.1vw ;
}

.web{
    margin-right: 5%;
}

.chat{
    margin-left: 1%;
}


.grandtitre{
    color: #e0ded2;
    font-family:Gilroy-Bold ;
    font-size: 3.5vw;
    border-left: 0.6vw  solid #2ea3dd;
    padding: 10px;

}
.parag{
    color: #e0ded2;
    font-family: Proxima-nova; 
    font-size: larger;
    font-size: 1.5vw;
}
